<div class="panel panel-default ng-scope">
    <!-- START table-responsive-->

    <div class="form-group">
        <table class="table table-bordered table-hover">
            <thead class="thead-sennit">
                <tr>
                    <th class="col-lg-3 col-md-3 col-sm-3 text-center">Nome</th>
                    <th class="col-lg-7 col-md-6 col-sm-5 text-center">Login</th>
                    <th class="col-lg-2 col-md-3 col-sm-4 text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="usuario in usuarios">
                    <td class="col-lg-3 col-md-3 col-sm-3">
                        {{ usuario.nome }}
                    </td>
                    <td class="col-lg-7 col-md-6 col-sm-5">
                        {{ usuario.login }}
                    </td>
                    <td class="col-lg-2 col-md-3 col-sm-4">
                        <a href="#/usuario/{{ usuario.id }}" class="mb-sm btn btn-primary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>

                        <button type="button" class="mb-sm btn btn-danger" ng-click="delete(usuario)" aria-label="Left Align">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>

                    </td>
                </tr>

            </tbody>

        </table>
    </div>
    <!-- END table-responsive-->
    <div class="panel-footer">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-4 hidden-xs">
                <div class="input-group">
                    <input type="text" placeholder="Pesquisar..." class="input-sm form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-default">Pesquisar</button>
                    </span>
                </div>
            </div>

            <div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-8 col-xs-12 text-right">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a class="btn btn-labeled btn-primary" ng-href="#/usuario/new">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>Novo Usuário
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" data-backdrop="static" id="ConfirmacaoModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <h4>Deseja realmente excluir esse registro?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-default" ng-click=" deleteConfirmed()">Sim</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>